body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}




.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #ff4c68;
  color: black;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid #ff4c68;
}

.btn {
  background-color: #ff4c68;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 1.0;
}

.btn:hover {
  opacity: 1;
}

p{
  font-size: 16px;
  padding-top: 1px;
  text-align: left;
  margin-left: 25px;
  line-height: 25px;
  margin-right:25px;
  border-top-color: white ;
  border-top-style: solid;
  border-top-width: thin;

}
img{
  width:120px;
  height:150px;

  margin-top: 30px;

}
